{
    "extends": [
        "wesbos"
    ],
    "rules": {
        "no-unused-vars": "warn",
        "prefer-destructuring": "off",
        "no-shadow": "off",
        "array-callback-return": "off",
        "no-nested-ternary": "off",
        "camelcase": "off"
    }
}