<!DOCTYPE html>
<html>

<body>
    <style>
        body {
            text-align: center;
        }

        p {
            text-align: center;
            font-family: Helvetica Neue
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
            padding-top: 300px;

        }
    </style>

    <div class="web-1920-1screen">
        <div class="overlap-group">
            <img src="https://dastakbackend.herokuapp.com/cardSuccessful/views/images/cardSuccessful.jpeg">
            <h1 class="title">Your payment was successful!</h1>
            <p>Thank you for your payment</p>
        </div>
    </div>


</body>

</html>